* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://images.unsplash.com/photo-1494783367193-149034c05e8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: times 'Times New Roman', Times, serif;
}

h1 {
    padding: 35px;
    opacity: 0.8;
}

form {
    color: black;
    text-align: center;
    background-color: whitesmoke;
    max-width: 1000px;
    width: 50%;
    margin: 40px auto;
}

label {
    text-align: left;
}

label, input, textarea {
    display: block;
    width: 90%;
    margin: 10px auto;
    background-color: whitesmoke;
}

input {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

textarea {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 90%;
    min-height: 20px;
    resize: vertical;
}

div {
    text-align: left;
    width: 90%;
    margin: auto;
}

input[type="submit"] {
    display: inline-block;
    width: 125px;
    background-color: rgb(44, 44, 44);
    opacity: 0.9;
    border: none;
    padding: 8px;
    color: white;
    margin-bottom: 40px;
}
